[Desktop Entry]
Encoding=UTF-8
Name=Link to Using OpenGL With SDL
Type=Link
URL=https://www.libsdl.org/release/SDL-1.2.15/docs/html/guidevideoopengl.html
Icon=text-html
